@tailwind base;
@tailwind components;
@tailwind utilities;
/* For Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333; /* color of the tracking area */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px; 
  border: 2px solid #333; 
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #555 #333; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
